body{
    padding: 0;
    margin: 0;

}


.header{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    margin-left: 20px;
}

.logo{
    width: 100px;
    border-radius: 50%;

}

.nav-items ul {
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
    
}

.nav-items ul li{
    margin: 10px;
    padding: 10px;
    font-size: 20px;

}

.res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.res-card{
    width: 200px;
    height: 450px;
    /* border: 1px solid black; */
    padding: 5px;
    margin: 10px
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
  
    height: 120px;

}

.filter{
    margin: 10px;
}

.shimmer-container{
    display: flex;;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 200px;
    height: 400px;
    background-color: rgb(215, 213, 213);
    margin: 20px;
}

.login{
    padding: 0 20px;
    cursor: pointer;
}

.filter{
    display: flex;
}

.search input{
    padding: 5px;
}

.search button{
    padding: 5px;
}

.filter-btn{
    padding: 10px;
}



.caraousal-container{
    width: 100%; /* Full width container */
    overflow: hidden; /* Hide overflow content */
    white-space: nowrap; /*Prevent line break */
   
}

.caraousal-container::-webkit-scrollbar{
    display: none;
}

.card-div{
    overflow : hidden;
    margin-bottom: 20px;
    display: inline-block; /* Inline-block to prevent wrapping */
    animation: scroll 15s linear infinite; /* Animation properties */
}

.card-div img{
    width: 175px;

}

/* .card-div {
   
  } */
  
  @keyframes scroll {
    0% {
      transform: translateX(100%); /* Start at the right */
    }
    100% {
      transform: translateX(-1000%); /* End at the left */
    }
  }

.besth1{
    margin-left: 40px;
}


.bestPlace-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;

}

.bestPlace-container button{
   padding: 15px;
   margin: 10px 15px;
   width: 20%;
   border-radius: 10px;
   border: 0.1px solid grey;
}

.bestPlace-container button a{
    text-decoration: none;
    color: black;
}

.bestCuisines-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;

}

.bestCuisines-container button{
   padding: 15px;
   margin: 10px 15px;
   width: 20%;
   border-radius: 10px;
   border: 0.1px solid grey;
}

.bestCuisines-container button a{
    text-decoration: none;
    color: black;
}

.user-card {
    padding: 5px;
    border: 1px solid black;
    margin: 10px;
}









  /* //footer*/


  .footer-div{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    gap: 60px;
   
  }

  .footer-div div{
    /* margin: 0px 20px; */
    
  }